
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #bdc6fc;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 7px solid rgb(77, 123, 167);
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-weight: bolder;
  font-size: 17px;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-weight: bolder;
  font-size: 20px;
  background: rgb(255, 0, 0);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: rgb(137, 175, 190);
  width: 250%;
  height: 250%;
}

.card:after {
  background: rgb(246, 246, 246);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  

  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
  
 /* 
.i{
   
   background-image: url(bg.png );
   background-position: center;
   
   background-repeat: no-repeat;
   max-width: 100%;
   padding-top:0px;
  height: 45vh;
  width:auto;
}*/
button {
  background-image: url(bg.png );
   background-position: center;
  background-color: #9b4caf; 
  border: none;
  color: rgb(0, 0, 0);
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  
}
.i pre{
   color: rgb;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
   text-align: center;
   font-size :7vw;
}

.main .main_content{
   padding-top:100px;
   margin-left: 10%;
   margin-right: 10%;
}

.main .main_content h4 p{
   font-style: italic;
   font-size: 30px;
   text-align: center;
   color:rgb(255, 0, 34);
}
  
.A {
    color: rgb;
    font-weight: bold;
   font-size:20px;
}
.A h3{
    
    color:rgb(5, 27, 151);
     font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
.A p{
    color:rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;

}
.A h4{
    font-size: 30px;
    color:rgb(5, 27, 151);
}
.A li{
    color:rgb(0, 0, 0);
    font-weight:lighter;
}
.A  span{
    color:rgb(93, 8, 119);
font-weight: bolder;}

  .B h1{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  

  @keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}
  
.container {
  background-color:#0b090a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;}
  .APEK { width: 100%; height: auto; }

  footer .doc{
        text-align:center;
    }
    footer .doc p{
      margin: 10px;
        color:rgb(255, 255, 255);
        font-size :20px;
    }
    footer .doc h3{
        color:rgb(255, 255, 255);
        font-size: 27px;
        padding: 5px
    }
    footer .doc a{
        text-decoration: none;
        margin: 10px;
        color:rgb(197, 190, 182);
        font-size :20px;
    }
    
    footer .doc a:hover{
        color:aliceblue;
        
    }

 